body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  margin: 0 30%;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #4caf50;
  color: white;
  font-size: 1.5rem;
  border-radius: 1rem;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#go-back {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.button {
  width: 100%;
  text-align: center;
  line-height: 2rem;
  z-index: 1;
  color: black;
  transition: color 0.3 ease;
  user-select: none;
}
.button.selected {
  color: white;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: blue;
  border-radius: 1rem;
  transition: top 0.3s ease;
  z-index: 0;
}

#calendar {
  position: absolute;
  top: calc(100% - 3rem);
  height: 90%;
  left: 0;
  right: 0;
  border-radius: 3rem 3rem 0 0;
  background-color: white;
  transition: top 0.5s ease-in-out;
  height: 90%;
  display: flex;
  flex-direction: column;
}

#calendar.open {
  top: 10%;
}

#handle {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

.participant-container {
  padding: 3rem;
  min-height: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#participant-list {
  min-height: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.participant-header {
  border-bottom: 1px solid #ddd;
  display: flex;
  padding-left: 10rem;
  justify-content: space-between;
}

.participant-header-tick {
  width: 10rem;
  text-wrap-mode: nowrap;
  text-align: center;
}

.participant {
  border-bottom: 1px solid #ddd;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.participant > .name {
  padding-left: 1rem;
  width: 9rem;
}

.participant > .path-container {
  position: relative;
  height: 100%;
  min-width: 0;
  flex-grow: 1;
}

.event {
  position: absolute;
  top: 0;
  bottom: 0;

  border-radius: 1rem;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.event:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
